PORT = 3001
APP_NAME = starter-code-mongoDB
API_VERSION = v1
USER_PASSWORD_SALT = 10
MONGODB_URL=mongodb://localhost:27017/demo
GOOGLE_CLIENT_ID = "xxxxxxxxxxxxxxxxxx"

JWT_SECRET = '@3d6mKu0Rbun6MCM6mKu0RbOMYbPC3fa4bQabD0RJbPC3'
FRONTEND_BASE_URL = 'http://localhost:3000'
BACKEND_BASE_URL = 'http://localhost:3001'
MAILGUN_API_KEY = 'xxxxxxxxxxxxxxxxxxxxxxxxxxxx-xxxxxxx-xxxxxxx'
MAILGUN_DOMAIN = 'xxxxxxxxxxxxxxxxxxxxxxxxxxxx.mailgun.org'
NOREPLY_EMAIL = 'xxxxxxxxx@xxxx.com'
ADMIN_TO_EMAIL = 'xxxxxxxxx@xxxx.com'